*{
    margin: 0;
    font-family: Arial;
    border: border-box ;
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color :white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height:100%;
    width:100%;
}
.border{
    border:1.2px soild transparent;
}
.border:hover{
    border:1.2px solid white;
}

/* Box2 */

.add-up{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-down{
    font-size: 1rem;
    margin-left: 0.5px;
    margin-top: 1.5px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* box3 :Select and Search bar */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width:620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}